body {
    margin: auto;
}

.navbar {
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style: none;
    
}

.hero-image {
    background: url(/img/An-on-Treadmill.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;
  
}

.footer-navbar-nav {
    background: transparent;
}

.footer-nav-link {
    margin-right: 50px;
    justify-content: center;
}
